<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} {% endif %} | CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    
    <h2><p>Last updated:</p></h2><br>
    <h2><p>{{ "now" | date: "%Y-%m-%d" }}</p></h2>
    </div>
  </div>
</body>
</html>